body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "PT Sans", "PT Sans Narrow", "Arial", sans-serif;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  
}
.input-price:focus {
  border: none;
}
a {
  text-decoration: none;
  color: black;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.page-header__logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 240px;
  height: 56px;
  max-width: 100%;
  position: relative;
}

.page-header__logo a {
  display: block;
  width: 140px;
  margin: 0 auto;
}

.page-header__logo img {
  vertical-align: top;
}

.main-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.main-nav__list_left {
  display: flex;
  width: 480px;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
  list-style: none;
}

.main-nav__list_right {
  display: flex;
  width: 480px;
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: right;
  background-color: #ffffff;
  list-style: none;
}

.main-nav__item {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  max-width: 240px;
}

.main-nav__list_left a:link {
  color: #000000;
}

.main-nav__list_left a:hover,
a:focus {
  color: #81b3d2;
}

.main-nav__list_left a:active {
  color: #c9c9c9;
}

.main-nav__list_right a:link {
  color: #000000;
}

.main-nav__list_right a:hover,
a:focus {
  color: #81b3d2;
}

.main-nav__list_right a:active {
  color: #c9c9c9;
}

.main-nav__current {
  color: #766357;
}

.main-reason-decoration__color {
  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 35px;
  height: 193px;
  align-self: center;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.main-reason-decoration__color p {
  padding-left: 50px;
  padding-right: 50px;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}

.main-promo {
 width: 1200px;
    height: 510px;
    background-image: url(../img/png/shape.png), url(../img/jpg/background-photo.jpg);
    background-position: center bottom, center -50px;
    background-repeat: no-repeat, no-repeat;
	background-size: 100% 57px, cover; 
  
}

.main-promo img {
  max-width: 100%;
}

.main-promo__welcome {
  text-align: center;
  margin-top: 0;
  padding-top: 78px;
}

.main-promo__gorgeous {
  text-align: center;
  margin-bottom: 45px;
  padding-top: 5px;
}

.main-promo__sedona {
  text-align: center;
  margin-bottom: 48px;
}

.main-promo__canyon {
  text-align: center;
}

.main-head {
  width: 1200px;
  margin-top: 60px;
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-town {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.container-town__photo {
  width: 800px;
  height: 256px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container-town__photo img {
  max-width: 100%;
}

.tourist-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 70px;
}

.tourist-container p {
  padding-left: 50px;
  padding-right: 50px;
}

.container-bridge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}

.container-bridge__photo {
  width: 800px;
  height: 256px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container-bridge__photo img {
  max-width: 100%;
}

.main-reason-decoration {
  text-align: center;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;

}

.container-decoration {
  margin-top: 0;
  margin-bottom: 82px;
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: center;
}

.main-reason__transparent {
  width: 400px;
  height: 198px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 28px;
}

.main-reason__transparent p {
  padding-left: 60px;
  padding-right: 60px;
}

.map {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../img/png/map1200.png");
  background-position: bottom center;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.form-background {
  background-image: url("../img/png/hotels-main1200.png");
  background-position: 0 0;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.hotel-search__checkin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 62px;
  margin-bottom: 30px;
  text-align: left;
}

.hotel-search__checkin label {
  margin-right: 25px;
  margin-left: 0;
}

.hotel-search__checkin input {
  flex: 1 1 auto;
  height: 38px;
  padding: 0 40px 0 11px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
}

.hotel-search__checkin input:hover {
  background-color: #ebebeb;
}

.hotel-search__checkin input:focus {
  border: 2px solid #e5e5e5;
  background: none;
}

.hotel-search__checkout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;
}

.hotel-search__checkout label {
  margin-right: 30px;
  margin-left: 0;
}

.hotel-search__checkout input {
  border: none;
  flex: 1 1 auto;
  background-color: #f2f2f2;
  height: 38px;
  padding: 0 40px 0 11px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
}

.hotel-search__checkout input:hover {
  background-color: #ebebeb;
}

.hotel-search__checkout input:focus {
  border: 2px solid #e5e5e5;
  background: none;
}

.hotel-search__guest {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 0;
  margin-bottom: 52px;
  text-align: left;
}

.hotel-search__guest label {
  margin-right: 30px;
  margin-left: 0;
}

.main-head__caption {
  margin-bottom: 32px;
  margin-top: 0;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.main-head__preview {
  margin-bottom: 0;
  margin-top: 0;
}

.reason-caption__second {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}

.decoration-caption__second {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.hotel-interest {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  color: #000000;
}

.hotel-interest h4 {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 26px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

.hotel-interest p {
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 565px;
  height: 395px;
  text-align: center;
  background-color: #ffffff;
}

.hotel-interest__button {
  width: 565px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: #766357;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.hotel-interest__button:hover,
.hotel-interest__button:focus {
  background-color: #604e43;
  border: none;
  outline: none;
}

.hotel-interest__button:active {
  color: #857871;
  background-color: #503e33;
  border: none;
  outline: none;
}

.hotel-search--calendar {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translate(0, -50%);
  color: #c9c9c9;
  background-color: transparent;
  border: none;
  background: none;
  outline: none;
}

.hotel-search--calendar:hover,
.hotel-search--calendar:focus {
  color: #000000;
  background-color: transparent;
}

.hotel-search--calendar:active {
  color: #81b3d2;
  background-color: transparent;
}

.hotel-search--calendar svg:hover,
.hotel-search--calendar svg:focus {
  fill: #000000;
}

.hotel-search--calendar svg:active {
  fill: #81b3d2;
}

.hotel-search__body {
  width: 455px;
  padding: 0 55px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  background-color: #ffffff;
}

.main-reason__tourist {
  margin-top: 0;
  margin-bottom: 0;
  width: 400px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.main-reason__tourist h3 {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
}

.main-reason__tourist-housing {
padding-top: 4px;
}

.main-reason__tourist-food {
padding-top: 6px;
}

.hotels-caption__main {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.hotels-caption__second {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hotel-search__checkin input {
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
}

.hotel-search__checkout input {
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
}

.hotel-search__guest input {
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
}

.hotel-search__button {
  width: 460px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 55px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  outline: none;
}

.form-container {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.hotels-find__found {
  align-self: flex-start;
  padding: 0;
}

.form-hotels__price {
  width: 330px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
}

.form-hotels__price-control {
  width: 315px;
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.form-hotels__price-control::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-hotels__price-control label {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.form-hotels__price-control .min-price,
.form-hotels__price-control .max-price {
  margin-left: 40px;
  margin-right: auto;
  width: 90px;
  padding-left: 25px;
}

.form-hotels__range {
  position: relative;
  margin-bottom: 32px;
}

.form-hotels__range .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-hotels__range .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.hotels-find {
  width: 1055px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.hotels-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hotels-sorting-arrow-up--active:hover,
.arrow-up:focus {
  fill: #000000;
}

.hotels-sorting-arrow-up--active:active {
  fill: #81b3d2;
}

.hotels-sorting-arrow-down--active:hover,
.hotels-sorting-arrow-down--active:focus {
  fill: #000000;
}

.hotels-sorting-arrow-down--active:active {
  fill: #81b3d2;
}

.hotel-amara {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 46px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-amara__booking {
  width: 254px;
  margin-left: 30px;
  margin-right: auto;
  padding-top: 0;
}

.hotel-amara__booking p {
  display: inline-block;
  width: 110px;
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.hotel-amara__booking button {
  margin-top: 10px;
  margin-bottom: 0;
}

.hotel-amara__rating {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  align-self: baseline;
  width: 100px;
}

.hotel-amara__rating p {
  padding-top: 30px;
  padding-right: 15px;
  display: inline-block;
  text-align: right;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.motel-desert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;
  padding-left: 73px;
  padding-right: 73px;
}

.motel-desert__booking {
  width: 254px;
  margin-left: 30px;
  margin-right: auto;
  padding-top: 0;

}

.motel-desert__booking p {
  display: inline-block;
  width: 110px;
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.motel-desert__booking button {
  margin-top: 10px;
  margin-bottom: 0;
}

.motel-desert__rating {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  align-self: baseline;
  width: 100px;
}

.motel-desert__rating p {
  padding-top: 30px;
  padding-right: 15px;
  display: inline-block;
  text-align: right;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.apartments-villas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 73px;
  padding-right: 73px;
}

.apartments-villas__booking {
  width: 254px;
  margin-left: 30px;
  margin-right: auto;
  padding-top: 0;
}

.apartments-villas__booking p {
  display: inline-block;
  width: 110px;
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.apartments-villas__booking button {
  margin-top: 10px;
  margin-bottom: 0;
}

.apartments-villas__rating {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  align-self: baseline;
  width: 100px;
}

.apartments-villas__rating p {
  padding-top: 30px;
  padding-right: 15px;
  display: inline-block;
  text-align: right;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.hotel-search__button:hover,
.hotel-search__button:focus {
  color: #ffffff;
  background-color: #669EBF;
  border: none;
  outline: none;
}

.hotel-search__button:active {
  color: #8BB5CB;
  background-color: #5596BE;
  border: none;
  outline: none;
}

.hotels-button__more {
	width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  outline: none;
}

.hotels-button__more:hover,
.hotels-button__more:focus {
  color: #ffffff;
  background-color: #669EBF;
   border: none;
  outline: none;
}

.hotels-button__more:active {
  color: #8BB5CB;
  background-color: #5596BE;
  border: none;
  outline: none;
}

.hotels-button__booking {
	width: 140px;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
  outline: none;
}

.hotels-button__booking:hover,
.hotels-button__booking:focus {
  color: #ffffff;
  background-color: #604e43;
   border: none;
  outline: none;
}

.hotels-button__booking:active {
  color: #948B84;
  background-color: #503e33;
   border: none;
  outline: none;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin-top: 15px;
  margin-bottom: 0;
  color: #000000;
  background-color: #ffffff;
}

.hotels-sorting {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

.hotels-sorting__sorting {
  color: #000000;
  margin-left: 50px;
  margin-right: 0;
}

.hotels-sorting__price {
  color: #81b3d2;
  margin-left: 40px;
  margin-right: 0;
}

.hotels-sorting__type {
  margin-left: 32px;
  margin-right: 0;
}

.hotels-sorting__rating {
  margin-left: 32px;
  margin-right: auto;
}

.hotels-sorting-arrow__up {
  margin-right: 15px;
}

.hotels-sorting__type,
.hotels-sorting__rating {
  color: #CACACA;
  border-bottom: 1px dashed #81b3d2;
}

.form-hotels__infrastructure {
  margin-top: 25px;
  width: 240px;
  margin-left: 65px;
  margin-right: auto;
}

.form-hotels__type {
  margin-top: 25px;
  width: 240px;
  margin-left: auto;
  margin-right: 285px;
}

.form-hotels__infrastructure legend,
.form-hotels__type legend,
.form-hotels__price label {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
}

.form-hotels__infrastructure p,
.form-hotels__type p,
.form-hotels__price {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.form-hotels__infrastructure input:disabled,
.form-hotels__type input:disabled {
  border: 1px solid #666A6B;
}

.form-hotels__button {
  display: block;
  width: 64px;
  margin: 0 auto;
  padding: 5px 35px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.form-hotels__button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.input-price {
  box-sizing: border-box;
  width: 50px;
  margin: 0;
  font-size: 14px;
  line-height: 38px;
  vertical-align: 1px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.page-footer__hashtag {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.social-links {
  text-align: center;
  width: 400px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.social-links--twitter {
  margin-right: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-links--twitter svg {
  vertical-align: -3px;
  text-align: center;
}

.social-links--facebook {
  margin-right: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 19px;
  padding-right: 19px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-links--facebook svg {
  vertical-align: -5px;
}

.social-links--youtube {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-links--youtube svg {
  vertical-align: -3px;
}

.page-footer--academy {
  width: 115px;
  height: 41px;
}

.page-footer__copyright a:link {
  color: #000000;
}

.page-footer__copyright a:hover {
  color: #81b3d2;
}

.page-footer__copyright a:focus {
  color: #81b3d2;
}

.page-footer__copyright a:active {
  color: #c9c9c9;
}

.visually-hidden {
  visibility: hidden;
}

.social-links a:link {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-links a:hover,
.social-links a:focus {
  color: #ffffff;
  background-color: #669EBF;
}

.social-links a:active {
  color: #8BB5CB;
  background-color: #5596BE;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright-website {
  align-items: center;
  margin-right: 8px
}

.number-wrap {
  background-color: #f2f2f2;
  display: inline-block;
  height: 38px;
}

.number-wrap label {
  display: inline;
  vertical-align: middle;
}

.number-input {
  color: #000000;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  margin: 0 auto;
  padding-top: 0;
  max-width: 38px;
}

.number-btn {
  width: 38px;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #a9a9a9;
  border: none;
  background: none;
  outline: none;
}

.number-btn,
.number-input {
  background-color: transparent;
  border: none;
}

.number-btn:hover,
.number-btn:focus {
  color: #000000;
}

.number-btn:active {
  color: #81b3d2;
  border: none;
}

.hotels-sorting__price a:hover,
.hotels-sorting__price a:focus {
  color: #81b3d2;
  text-decoration: 1px dotted #81b3d2;
}

.hotels-sorting__price:active {
  text-decoration: none;
  color: #000000;
  border: none;
}

.hotels-sorting__type a:hover,
.hotels-sorting__type a:focus {
  color: #81b3d2;
  text-decoration: 1px dotted #81b3d2;
}

.hotels-sorting__type:active {
  text-decoration: none;
  color: #000000;
  border: none;
}

.hotels-sorting__rating a:hover,
.hotels-sorting__rating a:focus {
  color: #81b3d2;
  text-decoration: 1px dotted #81b3d2;
}

.hotels-sorting__rating:active {
  text-decoration: none;
  color: #000000;
  border: none;
}

a .hotels-caption__second:hover,
a .hotels-caption__second:focus {
  color: #81b3d2;
}

a .hotels-caption__second:active {
  color: #a9a9a9;
}

.main-nav__current a {
  color: #7b6356;
}

.hotels-checkbox {
  display: none;
}

.hotels-checkbox + label {
  padding-left: 40px;
  position: relative;
  display: inline-block;
  color: white;
}

.hotels-checkbox + label svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: inline-block;
  vertical-align: -9px;
}

.hotels-checkbox-svg-unchecked {
  width: 23px;
  height: 23px;
}

.hotels-checkbox-svg-checked {
  width: 27px;
  height: 23px;
}

.hotels-checkbox:checked + label .hotels-checkbox-svg-unchecked {
  display: none;
}

.hotels-checkbox + label .hotels-checkbox-svg-checked {
  display: none;
}

.hotels-checkbox:checked + label .hotels-checkbox-svg-checked {
  display: inline-block;
}

.hotels-checkbox:disabled + label .svg-fill {
  fill: #6a6a6a;
}

.main-hotels {
  margin-bottom: 30px;
  background-color: #fefefe;
}

.page-footer-hotels {
	background-color: #fefefe;
